[project]
	description = git test easyh
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lenilsonsilva
[access "refs/for/refs/*"]
	read = group user/lenilsonsilva
	push = group user/lenilsonsilva
	label-Code-Review = -2..+2 group user/lenilsonsilva
	label-Verified = -1..+1 group user/lenilsonsilva
	rebase = group user/lenilsonsilva
	removeReviewer = group user/lenilsonsilva
	submit = group user/lenilsonsilva
[access "refs/heads/*"]
	read = group user/lenilsonsilva
	create = group user/lenilsonsilva
	push = +force group user/lenilsonsilva
	pushMerge = group user/lenilsonsilva
[access "refs/tags/*"]
	push = group user/lenilsonsilva
	push = +force group user/lenilsonsilva
